*.pyc
*.so
*.swp
*\.log
*\.log\.*
*__pycache__*
*egg-info
*~
.DS_STORE
.cache
.coverage
.hypothesis
.idea
.venv*
build
config.yml
config/
coverage/
coordinator_config.local.yml
dist
docker_configs/*.json
dump.rdb
id_rsa
newman/
nosetest_results_stderr.txt
nosetest_results_stdout.txt
participant_config.local.yml
postgres_dumps/*
redis
report.txt
*pg_backup.sql
*dump.tar.gz
