{% extends "base.jinja2" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h4>{{ paste_obj.title }}</h4>
  <p>Created At: {{ paste_obj.created_at }}</p>
  <p>{{ paste_obj.body }}</p>

{% endblock content %}
